@import "../../base/variables/margin";

.content-row {
  display: block;
  margin: clamp(48px,4.6vw,64px) 0;
  width: 100%;
  .text-formatted > * > *:last-child {margin-bottom: 0;}
  .field--name-field-row-title {margin: 0;}
  .field--name-field-row-content {
    &:nth-child(2) {margin-top: calc(#{$default-margin} * 0.1875);}
  }
  .field--name-field-row-component:not(:first-child) {margin-top: 32px;}
}
.content-rows .content-row:last-child {margin-bottom: 0;}