.lw {
  max-width: 80ch;
}

.ui-dialog .ui-dialog-titlebar {
  background: #F2F2F2;
  border: 1px solid #8C8C8C;
  font-weight: 400;
  padding: 0px 0px 0px 32px;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  padding: 13px 13px 13px 0px;
}
.ui-dialog .ui-dialog-content {
  background: #FDFDFD;
  border: 1px solid #8C8C8C;
  padding: 32px;
}
.ui-dialog .ui-dialog-titlebar-close {
  display: inline-block;
  font-weight: 600;
  padding: 9px 24px 10px 24px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  transition-property: background-color, border-color, color;
  transition-delay: 0s;
  transition-duration: 0.2s;
  background-color: transparent;
  border-color: transparent;
  color: #20389D;
  padding: 13px;
  padding: 13px 34px 13px 13px;
  position: relative;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
}
.ui-dialog .ui-dialog-titlebar-close:hover:focus {
  outline: none !important;
}
.ui-dialog .ui-dialog-titlebar-close:focus {
  outline: 2px dashed #B30036;
  outline-offset: 4px;
}
.ui-dialog .ui-dialog-titlebar-close:active {
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
}
.ui-dialog .ui-dialog-titlebar-close:active:focus {
  outline: none !important;
}
.ui-dialog .ui-dialog-titlebar-close[disabled] {
  background-color: #F2F2F2 !important;
  border-color: #F2F2F2 !important;
  color: #333333 !important;
  pointer-events: none;
}
.ui-dialog .ui-dialog-titlebar-close[disabled]:hover, .ui-dialog .ui-dialog-titlebar-close[disabled]:focus, .ui-dialog .ui-dialog-titlebar-close[disabled]:active {
  background-color: #F2F2F2 !important;
  border-color: #F2F2F2 !important;
  color: #333333 !important;
  text-decoration: none;
  cursor: not-allowed;
}
.ui-dialog .ui-dialog-titlebar-close::after {
  font-family: "Font Awesome 6 Pro";
  content: "\f00d";
  font-weight: 900;
  position: absolute;
  right: 16px;
  top: 13px;
}
.ui-dialog .ui-dialog-titlebar-close[data-toggle] {
  padding: 13px 34px 13px 13px;
}
.ui-dialog .ui-dialog-titlebar-close[data-toggle]::after {
  font-family: "Font Awesome 6 Pro";
  content: "\f00d";
  font-weight: 900;
  position: absolute;
  right: 16px;
  top: 13px;
  transform: rotate(0deg);
  transform-origin: center;
  transition: all 0.2s ease-in-out;
  transition-property: transform;
  transition-delay: 0s;
  transition-duration: 0.2s;
}
.ui-dialog .ui-dialog-titlebar-close[data-toggle][aria-expanded=true]::after {
  transform: rotate(90deg) !important;
}
.ui-dialog .ui-dialog-titlebar-close[disabled] {
  background-color: transparent !important;
}
.ui-dialog .ui-dialog-titlebar-close[disabled]:hover, .ui-dialog .ui-dialog-titlebar-close[disabled]:active {
  background-color: transparent !important;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
  color: #0B5B28;
}
.ui-dialog .ui-dialog-titlebar-close:active {
  color: #5A00A7;
}