@import "../../variables/variables";
@import "../../mixins/mixins";

.dynamic-quicklinks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  @include max($breakpoint--l) {
    flex-direction: column;
    transform: translateX($container-padding--negative);
    width: calc(100% + (#{$container-padding} * 2));
  }
}