@import "../../variables/color";
@import "../../mixins/icon";

.messages--error {
  background-color: $error--light;
  &::before {
    @include icon('\f071');
    color: $error;
  }
}

.messages--info {
  background-color: $info--light;
  &::before {
    @include icon('\f05a');
    color: $info;
  }
}