@import "../../variables/color";
@import "../../mixins/icon";

.messages--error {
  background-color: $error--light;
  &::before {
    @include icon('\f071');
    color: $error;
  }
}

.messages--status {
  background-color: $valid--light;
  &::before {
    @include icon('\f058');
    color: $valid;
  }
}