@import "../../variables/color";
@import "../../mixins/icon";

.messages--error {
  background-color: $error--light;
  &::before {
    @include icon('\f071');
    color: $error;
  }
}

.messages--warning {
  background-color: $warning--light;
  &::before {
    @include icon('\f06a');
    color: $warning;
  }
}