@import "../../variables/color";
@import "../../variables/font-weight";
@import "../../mixins/icon";
@import "../../mixins/focus";

.form-type-checkbox {
  label.option {
    color:$font;
    font-weight: $font-weight--normal;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    &::before {
      @include icon('\f111');
      color:$font;
      font-weight: $font-weight--normal;
    }
  }
}

input[type=checkbox] {
  &:focus ~ label.option::before {
    @include focus;
  }
  &.error {
    ~ label.option::before {
      color: $error;
    }
  }
  &:checked ~ label.option {
    &::before {
      @include icon("\f192");
      font-weight: $font-weight--normal;
    }
  }
  &[disabled] ~ label.option::before {
    color: $ui-icon;
    font-weight: $icon-weight--solid;
  }
}

.form-no-label {
  input[type=checkbox] {
    &:focus {
      @include focus;
    }
  }
}