@import "../../variables/variables";

ul,
ol {
  margin: 0 0 $default-margin 0;
  padding-left: 20px;
  ul,
  ol {
    margin: 16px 0 0 0;
  }
  &[type="1"] {list-style-type: decimal;}
  &[type="a"] {list-style-type: lower-alpha;}
  &[type="i"] {list-style-type: lower-roman;}
  li {
    line-height: 1.125;
    margin-bottom: 14px;
  }
}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}