.messages__message {
  margin: auto 0;
  max-width: 80ch;
}
.messages + .messages {
  margin-top: 24px;
}
.messages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.messages__list li {
  line-height: inherit;
  margin: 0;
}
.messages__item + .messages__item {
  margin-top: 16px;
}
.messages-wrapper {
  clear: both;
  display: block;
}
.messages-wrapper > .container {
  padding: 0 calc(clamp(16px, 7vw, 112px) / 2);
}
@media (max-width: 64rem) {
  .messages-wrapper > .container {
    padding: 0 clamp(16px, 7vw, 112px);
  }
}
.messages-wrapper > .container [data-drupal-messages] {
  clear: both;
  display: block;
  margin: 30px 0;
}