.content-row {
  margin: clamp(48px, 4.6vw, 64px) 0;
}
.content-row .field--name-field-row-content:nth-child(2) {
  margin-top: calc(32px * 0.1875);
}
.content-row .field--name-field-row-component:not(:first-child) {
  margin-top: 32px;
}

.block-page-title-block + * > article > .node__content > .content-rows > .content-row:first-child {
  margin-top: 0;
}

.node__content .field--name-field-body ~ .content-rows > .content-row:first-child {
  margin-top: clamp(16px, 1.6vw, 32px);
}