@import "../../variables/variables";
@import "../../mixins/mixins";

.table table,
table {
  border-bottom: 2px solid $bg--dark;
  margin: 0 0 $default-margin 0;
  tr {
    border-bottom: 1px solid $border;
    &.drag-previous,
    &.drag {
      background-color: $teal--light;
    }
    &.selected {
      background-color: $teal--light;
      outline: 2px solid $teal;
      outline-offset: -2px;
      td {background-color: $teal--light;}
    }
  }
  th {
    background: $bg--dark;
    color: $white;
    font-weight: $font-weight--normal;
    padding: 15px 32px 14px 32px;
    text-align: left;
    @include max($breakpoint--l) {padding: 16px 24px;}
    @include max($breakpoint--m) {padding: 16px;}
    a[href] {
      @include link--dark;
    }
    a:not(a[href]) {color: $white;}
  }
  td {
    color: $font;
    padding: 15px 32px 14px 32px;
    text-align: left;
    @include max($breakpoint--l) {padding: 16px 24px;}
    @include max($breakpoint--m) {padding: 16px;}
  }
  caption {
    @include h3;
    margin: 16px 0;
    text-align: left;
  }
  table {margin: 0 !important;}
}

.tablesort {
  margin-left: 8px;
  &--asc {
    &::before {@include icon('\f0d8');}
  }
  &--desc {
    &::before {@include icon('\f0d7');}
  }
}

/* [ SCROLLABLE ] ----------*/
.scrollable {
  margin-bottom: $default-margin;
  >div:focus{ 
      @include focus;
      outline-offset: -2px;//due to overflow hidden   
  }
}

.tabledrag {
  &-handle {
    &::before {
      @include icon('\e411');
      font-size: 1.125rem;
      font-weight: $icon-weight--normal;
    }
  }
}