.accordion h2.accordion__heading,
details h2.accordion__heading,
.webform-element-more h2.accordion__heading {
  all: unset !important;
  font-size: 1.75rem !important;
  font-weight: 700 !important;
  line-height: 1.107 !important;
  margin-bottom: calc(32px * 0.1875) !important;
  margin-top: 0 !important;
  color: #333333 !important;
}
@media (max-width: 48rem) {
  .accordion h2.accordion__heading,
  details h2.accordion__heading,
  .webform-element-more h2.accordion__heading {
    font-size: 1.4375rem !important;
    line-height: 1.26 !important;
    margin-bottom: calc(32px * 0.3125) !important;
  }
}
.accordion h3.accordion__heading,
details h3.accordion__heading,
.webform-element-more h3.accordion__heading {
  all: unset !important;
  font-size: 1.5625rem !important;
  font-weight: 700 !important;
  line-height: 1.36 !important;
  margin-bottom: calc(32px * 0.1875) !important;
  margin-top: 0 !important;
  color: #333333 !important;
}
@media (max-width: 48rem) {
  .accordion h3.accordion__heading,
  details h3.accordion__heading,
  .webform-element-more h3.accordion__heading {
    font-size: 1.375rem !important;
    line-height: 1.318 !important;
  }
}
.accordion__trigger,
.accordion summary,
.accordion .webform-element-more--link,
details__trigger,
details summary,
details .webform-element-more--link,
.webform-element-more__trigger,
.webform-element-more summary,
.webform-element-more .webform-element-more--link {
  all: unset !important;
  all: inherit !important;
  color: #333333 !important;
}
.accordion__trigger::after,
.accordion summary::after,
.accordion .webform-element-more--link::after,
details__trigger::after,
details summary::after,
details .webform-element-more--link::after,
.webform-element-more__trigger::after,
.webform-element-more summary::after,
.webform-element-more .webform-element-more--link::after {
  display: none !important;
}
.accordion__content,
details__content,
.webform-element-more__content {
  border: 0 !important;
  padding: 0 !important;
}