@import "../../variables/color";
@import "../../mixins/media-queries";

.images-slider {
	border: 1px solid $graphics;
	@media only screen and (max-width: 72.875rem) {max-width: 63.5vw;}
  @media only screen and (max-width: $breakpoint--l) {max-width: unset;}
}