@import "../../variables/variables";
@import "../../mixins/mixins";

.form-item.form-type-checkbox {
  label {
    color:$font;
    font-weight: $font-weight--normal;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    &::before {
      @include icon('\f0c8');
      color:$font;
      font-weight: $font-weight--normal;
    }
  }
}

input[type=checkbox] {
  &:focus ~ label::before {
    @include focus;
  }
  &.error {
    ~ label::before {
      color: $error;
    }
  }
  &:checked ~ label {
    &::before {
      @include icon("\f14a");
      font-weight: $font-weight--normal;
    }
  }
  &[disabled] ~ label {
    color: $font--disabled;
    &:before {
      color: $font--disabled;
    }
  }
}

.form-item.form-type-checkbox.form-item-title-before {
  label {padding: 0.5rem 2rem 0.5rem 0rem;}
  &:has(input[type=checkbox]:focus) {
    label::before {@include focus;}
  }
  &:has(input[type=checkbox].error) {
    label::before {color: $error;}
  }
  &:has(input[type=checkbox]:checked) {
    label::before {
      @include icon("\f14a");
      font-weight: $font-weight--normal;
    }
  }
  &:has(input[type=checkbox][disabled]) {
    label::before {
      color: $ui-icon;
      font-weight: $icon-weight--solid;
    }
  }
}

.form-no-label {
  input[type=checkbox] {
    &:focus {
      @include focus;
    }
  }
}