@import "../../variables/variables";

fieldset {
  &.webform-composite-hidden-title {
    margin: $default-margin 0;
  }
}

legend {
  color: $font;
  font-weight: $font-weight--bold;
  margin-bottom: $default-margin;
}