@import "../../variables/variables";
@import "../../mixins/mixins";

.form-text {
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $bg--medium;
  }
}

.form-wrapper:not(.form-actions) {
  > * {margin: 24px 0;}
}

.webform-element-help {
  &::before {
    @include icon('\f059');
    color: $link;
    font-size: 21px;
    font-weight: $icon-weight--solid;
  }
  &:hover {
    &::before {color: $link--hover;}
  }
  &:focus {
    @include focus;
  }
  &:active {
    &::before {color: $link--active;}
  }
}

.webform-progress-tracker {
  .progress-step {
    .progress-marker {
      &::before {
        background-color: $active-bgc;
        border: 2px solid $active-bdc;
        color: $active-c;
      }
      &::after {
        background-color: $graphics;
        height: 2px;
        top: calc(50% - 1px);
      }
    }
    &:not(.is-active) .progress-marker::before {
      background-color: $bg;
      border: 2px solid $graphics;
      box-shadow: 0px 0px 0px 1px $bg;
      color: $active-c;
    }
    // Remove hover for non-linked items
    &.is-complete:not(.is-active) .progress-marker::before {
      background-color: $int-bgc--disabled;
    }
    &.is-complete {
      .progress-marker[role="link"] {
        cursor: pointer;
        &:hover {
          &::before {
            background-color: $int-bgc--hover;
            border-color: $int-bdc--hover;
          }
          &::after {color: $int-c--hover;}
          &:focus::before {outline: none;}
        }
        &:focus {
          outline: none;
          &::before {@include focus;}
        }
        &:active {
          &::before {
            background-color: $int-bgc--active;
            border-color: $int-bdc--active;
          }
          &::after {color: $int-c--active;}
          &:focus::before {outline: none;}
        }
      }
    }
    &.is-active{
      pointer-events: none;
    }
  }
}
.webform-button--next,
.webform-button--previous {
  @include button--ui(null);
  padding: 13px;
}
.webform-button--submit {@include button--default;}

.tabledrag-toggle-weight {@include button--ui('\f0d7',true,180deg);}