@import "../../variables/variables";
@import "../../mixins/mixins";

.form-item {
  margin: $default-margin 0;
  &:first-child{
    margin-top: 0;
  }
  &:last-child{
    margin-bottom: 0;
  } 
  label,
  legend {
    color:$font;
    font-weight: $font-weight--bold;
    margin: 0 0 8px 0;
  }
  &--error-message {
    background-color: $error--light;
    padding: 13px 12px 12px 36px;
    &::before {
      @include icon('\f06a');
      color: $error;
      font-weight: $icon-weight--solid;
    }
  }
} 