@import "../../variables/variables";
@import "../../mixins/mixins";

input[type="date"],
input[type="time"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="decimal"],
input[type="tel"],
input[type="date"],
input[type="search"],
input[type="time"],
input[type="number"],
input[type="url"],
select,
textarea {
  background: $bg--light;
  border: 1px solid $border;
  border-radius: 0px;
  font-family: $font-family--primary;
  padding: 13px;
  color: $font;
  &:focus {
    @include focus--input;
  }
  &.error {
    border-color: $error;
  }
}

select {
  background:url(../../../images/select.png),$bg--light;
  background-position: calc(100% - 13px) 50%;
  background-repeat: no-repeat;
  background-size: 12px;
  padding: 13px 48px 13px 13px;
  &:focus {@include focus--input;}
}