@import "../../variables/variables";
@import "../../mixins/mixins";

.form-type-radio {
  label.option {
    color:$font;
    font-weight: $font-weight--normal;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    &::before {
      @include icon('\f111');
      color:$font;
      font-weight: $font-weight--normal;
    }
  }
}

input[type=radio] {
  &:focus ~ label.option::before {
    @include focus;
  }
  &.error {
    ~ label.option::before {
      color: $error;
    }
  }
  &:checked ~ label.option {
    &::before {
      @include icon("\f192");
      font-weight: $font-weight--normal;
    }
  }
  &[disabled] ~ label.option::before {
    color: $ui-icon;
    font-weight: $icon-weight--solid;
  }
}

.form-type-radio.form-item-title-before {
  label {padding: 0.5rem 2rem 0.5rem 0rem;}
  &:has(input[type=radio]:focus) {
    label.option::before {@include focus;}
  }
  &:has(input[type=radio].error) {
    label.option::before {color: $error;}
  }
  &:has(input[type=radio]:checked) {
    label.option::before {
      @include icon("\192");
      font-weight: $font-weight--normal;
    }
  }
  &:has(input[type=radio][disabled]) {
    label.option::before {
      color: $ui-icon;
      font-weight: $icon-weight--solid;
    }
  }
}

.form-no-label {
  input[type=radio] {
    &:focus {
      @include focus;
    }
  }
}