.links-block {
  &__title {margin-bottom: 16px;}
  &__links {
    @include unset-list;
    background-color: $bg--medium;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
    padding: clamp(16px,4.166vw,32px);
    @include max($breakpoint--m) {grid-template-columns: repeat(1,1fr);}
    li a {
      @include button--ui('\f0c1',false,null,true);
    }
  }
}