@import "../../variables/variables";
@import "../../mixins/mixins";

.banner {
  display: block;
  margin: 0 auto;
  max-width: $container-width;
  position: relative;
  z-index: 0;
  img {display: block;}
  &__caption {
    background-color: $bg--medium;
    bottom: 0;
    left: 0;
    padding: 11px 48px 11px calc(58px + 1.0625rem);
    position: absolute;
    z-index: 1;
    border: 1px solid $border;
    @include max($breakpoint--l) {
      bottom: auto;
      display: block;
      left: auto;
      position: relative;
      width: 100%;
      padding: 11px 48px 11px calc($container-padding + 1.0625rem + 10px);
    }
    &::before {
      @include icon('\f030');
      font-size: 1.0625rem;
      color: $ui-icon;
      font-weight: $icon-weight--solid;
      left: 48px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      @include max($breakpoint--l) {left: $container-padding;}
    }
  }
}