.lw {
  max-width: 80ch;
}

main {
  margin: clamp(48px, 12.5vw, 64px) 0;
}
main > .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: calc(clamp(16px, 7vw, 112px) / 2);
}
@media (max-width: 64rem) {
  main > .container {
    flex-wrap: wrap;
    padding-left: clamp(16px, 7vw, 112px);
  }
}
main > .banner {
  margin-bottom: clamp(48px, 12.5vw, 64px);
  margin-top: clamp(-64px, -12.5vw, -48px);
}