.lw {
  max-width: 80ch;
}

.sidebar {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: clamp(260px, 27.5vw, 440px);
  max-width: clamp(260px, 27.5vw, 440px);
  width: 100%;
}
@media (max-width: 64rem) {
  .sidebar {
    flex-basis: 100%;
    margin-bottom: 64px;
    max-width: 100%;
  }
  .sidebar.sidebar--nav-only {
    display: none;
  }
}
.sidebar > * + *,
.sidebar .region > * + * {
  margin-top: clamp(32px, 4.6vw, 64px);
}