@import "../../variables/variables";
@import "../../mixins/mixins";

.ui-dialog {
  .ui-dialog-titlebar {
    background: $bg--medium;
    border: 1px solid $border;
    font-weight: $font-weight--normal;
    padding: 0px 0px 0px 32px;
    .ui-dialog-title {
      padding: 13px 13px 13px 0px;
    }
  }
  .ui-dialog-content {
    background: $bg;
    border: 1px solid $border;
    padding: 32px;
  }
  .ui-dialog-titlebar-close {
    @include button--ui('\f00d');
  }
}