.user-login.path-user .sidebar {
  display: none;
}
.user-login.path-user .user-login-form .form-submit {
  display: inline-block;
  font-weight: 700;
  padding: 9px 24px 10px 24px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: #fff;
  border: 2px solid #20389D;
  color: #20389D !important;
}
.user-login.path-user .user-login-form .form-submit:hover {
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
.user-login.path-user .user-login-form .form-submit:hover:focus {
  outline: none !important;
}
.user-login.path-user .user-login-form .form-submit:focus {
  outline: 2px solid #B30036;
  outline-offset: 4px;
}
.user-login.path-user .user-login-form .form-submit:active {
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
.user-login.path-user .user-login-form .form-submit:active:focus {
  outline: none !important;
}
.user-login.path-user .user-login-form .form-submit[disabled] {
  background-color: #F2F2F2 !important;
  border-color: #F2F2F2 !important;
  color: #333333 !important;
  pointer-events: none;
}
.user-login.path-user .user-login-form .form-submit[disabled]:hover, .user-login.path-user .user-login-form .form-submit[disabled]:focus, .user-login.path-user .user-login-form .form-submit[disabled]:active {
  background-color: #F2F2F2 !important;
  border-color: #F2F2F2 !important;
  color: #333333 !important;
  text-decoration: none;
  cursor: not-allowed;
}
.user-login.path-user .user-login-form .form-submit.is-selected {
  background-color: #E1F0EF;
  border-color: #3F8F8B;
  color: #333333 !important;
}
.user-login.path-user .user-login-form .form-submit:hover {
  background-color: #F0FFF0;
  border-color: #0B5B28;
  color: #0B5B28 !important;
}
.user-login.path-user .user-login-form .form-submit:active {
  background-color: #ECD1FF;
  border-color: #5A00A7;
  color: #5A00A7 !important;
}