.contact-block {
  padding-left: 32px;
  position: relative;
}
.contact-block + .contact-block {
  margin-top: 16px;
}
.contact-block__icon {
  color: #393939;
  left: 0;
  position: absolute;
  top: 4px;
}