@import "../../mixins/media-queries";

.alerts-banner__controls {
  justify-content: flex-end;
  margin-top: -44px;
  position: relative;
  z-index: 1;
  @media only screen and (max-width: $breakpoint--m) {
    margin-top: 12px;
    justify-content: flex-start;
  }
}