.alerts-banner {
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  &__heading {
    margin: 0 $default-margin 0 0;
    padding-left: 26px;
    position: relative;
    &::before {
      @include icon('\f071');
      color: $error;
      font-size: 18px;
      font-weight: $icon-weight--solid;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}