.lw {
  max-width: 80ch;
}

.search-api-autocomplete-search {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 24px;
}
.search-api-autocomplete-search .ui-menu-item-wrapper {
  color: #20389D;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
  transition: all 0.2s ease-in-out;
  transition-property: color;
  transition-delay: 0s;
  transition-duration: 0.2s;
}
.search-api-autocomplete-search .ui-menu-item-wrapper:hover {
  color: #0B5B28;
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
.search-api-autocomplete-search .ui-menu-item-wrapper:hover:focus {
  outline: none;
}
.search-api-autocomplete-search .ui-menu-item-wrapper:focus {
  outline: 2px dashed #B30036;
  outline-offset: 4px;
}
.search-api-autocomplete-search .ui-menu-item-wrapper:active {
  color: #5A00A7;
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
.search-api-autocomplete-search .ui-menu-item-wrapper:active:focus {
  outline: none;
}
.search-api-autocomplete-search .ui-menu-item-wrapper[target=_blank]::after {
  font-family: "Font Awesome 6 Pro";
  content: "\f08e";
}