.sidebar-accordion__trigger {
  display: inline-block;
  font-weight: 700;
  padding: 9px 24px 10px 24px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: transparent;
  border-color: transparent;
  color: #20389D;
  padding: 13px;
  position: relative;
  padding: 13px 2.125rem 13px 13px;
  background-color: #F2F2F2;
  border: 1px solid transparent;
  padding-left: 16px;
  width: 100%;
}
.sidebar-accordion__trigger:hover {
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
.sidebar-accordion__trigger:hover:focus {
  outline: none !important;
}
.sidebar-accordion__trigger:focus {
  outline: 2px solid #B30036;
  outline-offset: 4px;
}
.sidebar-accordion__trigger:active {
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
.sidebar-accordion__trigger:active:focus {
  outline: none !important;
}
.sidebar-accordion__trigger[disabled] {
  background-color: #F2F2F2 !important;
  border-color: #F2F2F2 !important;
  color: #333333 !important;
  pointer-events: none;
}
.sidebar-accordion__trigger[disabled]:hover, .sidebar-accordion__trigger[disabled]:focus, .sidebar-accordion__trigger[disabled]:active {
  background-color: #F2F2F2 !important;
  border-color: #F2F2F2 !important;
  color: #333333 !important;
  text-decoration: none;
  cursor: not-allowed;
}
.sidebar-accordion__trigger::after {
  font-weight: 900;
  position: absolute;
  right: 1rem;
  top: 13px;
}
.sidebar-accordion__trigger::after {
  font-family: "Font Awesome 6 Pro";
  content: "\f0da";
  font-weight: 900;
  position: absolute;
  right: 1rem;
  top: 13px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.sidebar-accordion__trigger[aria-expanded=true]::after, .sidebar-accordion__trigger[aria-pressed=true]::after {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}
.sidebar-accordion__trigger[data-toggle] {
  padding: 13px 2.125rem 13px 13px;
}
.sidebar-accordion__trigger[data-toggle]::after {
  font-family: "Font Awesome 6 Pro";
  content: "\f0da";
  font-weight: 900;
  position: absolute;
  right: 1rem;
  top: 13px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.sidebar-accordion__trigger[data-toggle][aria-expanded=true]::after {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}
.sidebar-accordion__trigger[disabled] {
  background-color: transparent !important;
}
.sidebar-accordion__trigger[disabled]:hover, .sidebar-accordion__trigger[disabled]:active {
  background-color: transparent !important;
}
.sidebar-accordion__trigger:hover {
  color: #0B5B28;
}
.sidebar-accordion__trigger:active {
  color: #5A00A7;
}
.sidebar-accordion__trigger::before {
  background-color: #8C8C8C;
  bottom: 0;
  content: "";
  left: 0;
  height: 1px;
  position: absolute;
  width: 100%;
}
.sidebar-accordion__trigger:hover {
  background-color: #F0FFF0;
  border-color: #0B5B28;
  color: #0B5B28;
}
.sidebar-accordion__trigger:hover:focus {
  outline: none;
}
.sidebar-accordion__trigger:active {
  background-color: #ECD1FF;
  border-color: #5A00A7;
  color: #5A00A7;
}
.sidebar-accordion__trigger:active:focus {
  outline: none;
}
.sidebar-accordion__trigger h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  margin: 0;
  font-weight: inherit;
}
.sidebar-accordion__content {
  background-color: #F2F2F2;
}
.sidebar-accordion__content > *:not(.contextual) {
  padding: clamp(24px, 4vw, 32px);
}
.sidebar-accordion__content > *:not(.contextual).field__items {
  padding: 0;
}
.sidebar-accordion__content > *:not(.contextual).field__items > * {
  border-bottom: 1px solid #8C8C8C;
  padding: clamp(24px, 4vw, 32px);
}
.sidebar-accordion__content > *:not(.contextual).field__items > *:last-child {
  border-bottom: 0;
}