@import "../../base/variables/container";
@import "../../base/variables/line-width";
@import "../../base/mixins/media-queries";
@import "../../base/mixins/unset-list";

.messages {
  &__message {
    margin: auto 0;
    max-width: $line-width;
  }
  + .messages {margin-top: 24px;}
  &__list {@include unset-list;}
  &__item {
    + .messages__item {margin-top: 16px;}
  }
  &-wrapper {
    clear: both;
    display: block;
    > .container {
      padding: 0 calc(#{$container-padding} / 2);
      @include max($breakpoint--l) {padding: 0 $container-padding;}
      [data-drupal-messages] {
        clear: both;
        display: block;
        margin: 30px 0;
      }
    }
  }
}