@import "../../variables/color";

.contact-block {
  padding-left: 32px;
  position: relative;
  + .contact-block {margin-top: 16px;}
  &__icon {
    color: $ui-icon;
    left: 0;
    position: absolute;
    top: 4px;
  }
}