@media (max-width: 64rem) {
  .nav--main {
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
  }
  .nav--main nav .menu.is-overflowing {
    right: auto !important;
  }
  .nav--main nav .menu.is-overflowing.menu--level-2 {
    right: auto !important;
  }
  .nav--main nav .menu--level-0 {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0px;
    padding: 16px;
    width: 100%;
  }
  .nav--main nav .menu--level-1, .nav--main nav .menu--level-2 {
    border-top: 1px solid #8C8C8C;
    -webkit-box-shadow: none;
            box-shadow: none;
    left: auto !important;
    padding: 0;
    position: relative;
    top: auto;
    width: 100%;
    z-index: initial;
  }
  .nav--main nav .menu .menu__item--level-0 {
    border-bottom: 1px solid #8C8C8C;
    width: 100%;
  }
  .nav--main nav .menu .menu__item--level-0.menu__item--expanded > .menu__item-link-wrapper > *:not(.submenu-trigger) {
    padding-left: 0;
  }
  .nav--main nav .menu .menu__item--level-0.menu__item--expanded > .menu__item-link-wrapper > *:not(.submenu-trigger)::after {
    display: none;
  }
  .nav--main nav .menu .menu__item--level-0.menu__item--expanded.is-open > .menu__item-link-wrapper > *:not(.submenu-trigger)::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .nav--main nav .menu .menu__item--level-0.menu__item--active-trail > .menu__item-link-wrapper::after {
    display: none;
  }
  .nav--main nav .menu .menu__item .menu__item-link-wrapper--level-0 > *:not(.submenu-trigger) {
    padding-left: 0;
  }
  .nav--main nav .menu .menu__item .menu__item-link-wrapper--level-0 > *:not(.submenu-trigger)::after {
    display: none;
  }
  .nav--main nav .menu .menu__item .menu__item-link-wrapper--level-0 > .is-active::before {
    display: block;
    left: -12px;
  }
  .nav--main nav .menu .menu__item .menu__item-link-wrapper--level-0 .submenu-trigger {
    display: inline-block;
  }
  .nav--main nav .menu .menu__item .menu__item-link-wrapper--level-2 {
    padding-left: 16px;
  }
  .nav--main nav .menu .menu__item .menu__item-link-wrapper--level-2 > .submenu-trigger {
    display: block;
  }
  .nav--main nav .menu .menu__item .menu__item-link-wrapper--level-3 {
    padding-left: 32px;
  }
}