@import "../../variables/variables";

p {
  margin: 0 0 $default-margin 0;
  line-height: 2;
  max-width: $line-width;
}

b, strong {font-weight: $font-weight--semibold;}

hr {
  border-color: $border;
  margin: $default-margin 0;
}

code, kbd {
  background-color: $bg--medium;
}