@import "../../base/variables/color";
@import "../../base/mixins/underline";
@import "../../base/utility/typography/headings";

.sidebar nav {
  .menu__item-link-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 50px;
    position: relative;
    > *:not(.submenu-trigger) {
      flex: 0 1 auto;
      display: inline-block;
      margin-right: 8px;
      padding: 15px 4px 11px 16px;
      text-decoration: none;
      &:hover {@include underline;}
    }
    .submenu-trigger {
      flex: 0 1 auto;
      margin: 4px 4px 0 0;
    }
  }
  > h2 {
    @include h3;
    margin-bottom: 16px;
  }
  .menu {
    border-top: 1px solid $graphics;
    display: none;
    .menu__item {
      border-bottom: 1px solid $graphics;
      margin: 0;
      position: relative;
      &:last-child {border-bottom: 0;}
      &.is-open > .menu {display: block;}
      .menu__item-link-wrapper {
        >.is-active {
          &::before {
            background-color: $active-bdc;
            content:'';
            height: calc(100% - 8px);
            left: 0;
            position: absolute;
            top: 4px;
            width: 3px;
          }
        }
      }
    }
    &--level-0 {
      background-color: $bg;
      border-top: 0;
      display: block;
    }
    &--level-1 {
      background-color: $bg--medium;
      > .menu__item {
        > .menu__item-link-wrapper > *:not(.submenu-trigger) {padding-left: 32px;}
      }
    }
    &--level-2 {
      > .menu__item {
        > .menu__item-link-wrapper > *:not(.submenu-trigger) {padding-left: 48px;}
      }
    }
    &--level-3 {
      > .menu__item {
        .menu__item-link-wrapper > *:not(.submenu-trigger) {padding-left: 60px;}
      }
    }
  }
}
@include max($breakpoint--l) {
  .region-nav__section {
    display: none;
    + * {margin-top: 0;}
  }
}