nav.tabs {
  ul {
    @include unset-list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    li {
      margin: 0 16px 16px 0;
      &.is-active {
        > * {@include button--disabled;}
      }
      > * {
        @include button--emphasis;
      }
    }
  }
}