@import "../variables/color";
@import "../variables/container";
@import "../variables/font-weight";
@import "../mixins/icon";
@import "../mixins/media-queries";

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: Min(calc(880px + $container-padding), calc(100% - clamp(260px,27.5vw,440px)));
  max-width: Min(calc(880px + $container-padding), calc(100% - clamp(260px,27.5vw,440px)));
  padding: 0 0 0 $container-padding;
  width: 100%;
  @include max($breakpoint--l) {
    padding: 0;
    max-width: 880px;
  }
  &--fw {
    flex: 1 1 auto;
    max-width: 100%;
    padding: 0 calc(#{$container-padding} / 2);
    @include max($breakpoint--l) {padding: 0;}
  }
}

body[class*="page-node-type-"]:not(.page-node-type-page).path-node {
  .content .region-content .node__content {
    > * {
      margin-bottom: 16px;
      &:last-of-type {margin-bottom: 0;}
      &.field--type-text-with-summary,
      &.field--type-text-long {
        p:last-of-type {margin-bottom: 0;}
      }
    }
    .field--type-datetime,
    .field--type-smartdate {font-weight: $font-weight--bold;}
    .file {
      &.file--application-pdf:before {@include icon('\f1c1');}
      &.file--x-office-document:before {@include icon('\f1c2');}
      &.file--x-office-spreadsheet:before {@include icon('\f1c3');}
      &[class*="file--"] {
        background-image: none;
        padding-left: 0;
        &::before {
          margin-right: 4px;
          color: $link;
        }
      }
    }
  }
}