@import "../base/mixins/media-queries";

.sidebar {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: clamp(260px,27.5vw,440px);
  max-width: clamp(260px,27.5vw,440px);
  width: 100%;
  @include max($breakpoint--l) {
    flex-basis: 100%;
    margin-bottom: 64px;
    max-width: 100%;
    &.sidebar--nav-only {display: none;}
  }
  > * + *,
  .region > * + * {margin-top: clamp(32px,4.6vw,64px);}
}