@import "../variables/variables";
@import "./focus";
@import "./icon";
@import "./links";
@import "./transition";
@import "./underline";

@mixin button--disabled {
  background-color: $bg--medium !important;
  border-color: $bg--medium !important;
  color: $font !important;
  pointer-events: none;
  &:hover,
  &:focus,
  &:active {
    background-color: $bg--medium !important;
    border-color: $bg--medium !important;
    color: $font !important;
    text-decoration: none;
    cursor: not-allowed;
  }
}

@mixin is-selected {
  background-color: $active-bgc;
  border-color: $active-bdc;
  color: $active-c !important;
}

@mixin button {
  display: inline-block;
  font-weight: $font-weight--semibold;
  padding: 9px 24px 10px 24px;
  text-decoration: none;
  @include transition("background-color, border-color, color");
  &:hover {
    @include underline;
    &:focus {outline: none !important;}
  }
  &:focus {
    @include focus;
  }
  &:active {
    @include underline;
    &:focus {outline: none !important;}
  }
  &[disabled] {@include button--disabled;}
}

@mixin button--default {
  @include button;
  background-color: $int-bgc;
  border: 2px solid $int-bdc;
  color: $int-c !important;
  &.is-selected {@include is-selected;}
  &:hover {
    background-color: $int-bgc--hover;
    border-color: $int-bdc--hover;
    color: $int-c--hover !important;
  }
  &:active {
    background-color: $int-bgc--active;
    border-color: $int-bdc--active;
    color: $int-c--active !important;
  }
}

@mixin button--emphasis {
  @include button;
  background-color: $int-bdc;
  border: 2px solid $int-bdc;
  color: $white !important;
  &.is-selected {@include is-selected;}
  &:hover {
    background-color: $int-bdc--hover;
    border-color: $int-bdc--hover;
    color: $white !important;
  }
  &:active {
    background-color: $int-bdc--active;
    border-color: $int-bdc--active;
    color: $white !important;
  }
}

@mixin button--ui($icon, $toggle:false, $rotate:90deg, $left-icon:false) {
  @include button;
  background-color: transparent;
  border-color: transparent;
  color: $int-c;
  padding: 13px;
  @if($icon) {
    padding: 13px 2.125rem 13px 13px;
  }
  @if($left-icon) {padding: 13px 13px 13px 2.125rem !important;}
  position: relative;
  &::after {
    @if($icon) {@include icon($icon);}
    font-weight: $icon-weight--solid;
    position: absolute;
    right: 1rem;
    @if($left-icon) {
      left: 0.5rem;
      right: auto;
    }
    top: 13px;
  }
  @if($toggle) {
    padding: 13px 2.125rem 13px 13px;
    &::after {
      @if($icon) {
        @include icon($icon);
      } @else {
        @include icon('\f0da');
      }
      font-weight: $icon-weight--solid;
      position: absolute;
      right: 1rem;
      @if($left-icon) {
        left: 8px;
        right: auto;
      }
      top: 13px;
      transform: rotate(0deg);
      transform-origin: center;
      @include transition('transform');
    }
    &[aria-expanded="true"]::after {transform: rotate($rotate) !important;}
  }
  &[data-toggle] {
    padding: 13px 2.125rem 13px 13px;
    &::after {
      @if($icon) {
        @include icon($icon);
      } @else {
        @include icon('\f0da');
      }
      font-weight: $icon-weight--solid;
      position: absolute;
      right: 1rem;
      @if($left-icon) {
        left: 1rem;
        right: auto;
      }
      top: 13px;
      transform: rotate(0deg);
      transform-origin: center;
      @include transition('transform');
    }
    &[aria-expanded="true"]::after {transform: rotate($rotate) !important;}
  }
  &[disabled] {
    background-color: transparent !important;
    &:hover,
    &:active {background-color: transparent !important;}
  }
  &:hover {color: $int-c--hover;}
  &:active {color: $int-c--active;}
}

@mixin button--ui--dark($icon) {
  @include button--ui($icon);
  @include link--dark;
  &[disabled] {color: $int-c--disabled--dark;}
}