@import "../variables/variables";
@import "./media-queries";

@mixin h1($important:null) {
    font-size: 2.25rem $important;
    font-weight: $font-weight--bold $important;
    line-height: 1.111 $important;
    margin-bottom: calc(#{$default-margin} * 0.75) $important;
    margin-top: 0 $important;
    @include max($breakpoint--m) {
      font-size: 1.75rem $important;
      line-height: 1.285 $important;
      margin-bottom: calc(#{$default-margin} * 0.5) $important;
    }
}
@mixin h2($important:null) {
    font-size: 1.75rem $important;    
    font-weight: $font-weight--bold $important;
    line-height: 1.107 $important;
    margin-bottom: calc(#{$default-margin} * 0.1875) $important;
    margin-top: 0 $important;
    @include max($breakpoint--m) {
      font-size: 1.4375rem $important;
      line-height: 1.26 $important;
      margin-bottom: calc(#{$default-margin} * 0.3125) $important;
    }
}
@mixin h3($important:null) {
    font-size: 1.5625rem $important;
    font-weight: $font-weight--semibold $important;
    line-height: 1.36 $important;
    margin-bottom: calc(#{$default-margin} * 0.1875) $important; 
    margin-top: 0 $important;
    @include max($breakpoint--m) {
      font-size: 1.375rem $important;
      line-height: 1.318 $important;
    }
}
@mixin h4($important:null) {
    font-size: 1.375rem $important;
    font-weight: $font-weight--semibold $important;
    line-height: 1.136 $important;
    margin-bottom: calc(#{$default-margin} * 0.1875) $important;
    margin-top: 0 $important;
    @include max($breakpoint--m) {
      font-size: 1.1875rem $important;
      line-height: 1.2368 $important;
    }
}
@mixin h5($important:null) {
    font-size: 1.1875rem $important;
    font-weight: $font-weight--semibold $important;
    line-height: 1.105 $important;
    margin-bottom: calc(#{$default-margin} * 0.1875) $important;
    margin-top: 0 $important;
    @include max($breakpoint--m) {
      font-size: 1.0625rem $important;
      line-height: 1.294 $important;
    }
}
@mixin h6($important:null) {
    font-size: 1.0625rem $important;
    font-weight: $font-weight--bold $important;
    line-height: 1.117 $important;
    margin-bottom: calc(#{$default-margin} * 0.1875) $important;
    margin-top: 0 $important;
    @include max($breakpoint--m) {
      font-size: 1rem $important;
      line-height: 1.3125 $important;
    }
}
@mixin reset-heading($important:null) {
    font-size: 1rem $important;
    font-weight: $font-weight--normal $important;
    line-height: inherit $important;
    margin: 0 $important;
}