@mixin unset($important:false) {
  @if $important {
    all: unset !important;
  } @else {
    all: unset;
  }
}

@mixin unset-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    line-height: inherit;
    margin: 0;
  }
}