@import "../../variables/variables";
@import "../../mixins/mixins";

.quicklink {
  background-color: $white;
  border: 1px solid $link;
  color: $link;
  padding: 16px;
  position: relative;
  @include transition("background-color, border-color, color");
  @include max($breakpoint--m) {
    hyphens: auto;
    word-break: break-word;
  }
  .icon {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 6px 0;
  }
  a {
    &::before {
      content:'';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    &:focus {
      outline: none;
      &::before {@include focus;}
    }
    &:hover,
    &:active {
      &:focus::before {outline: none;}
    }
  }
  &:hover {
    background-color: $green--lighter;
    border-color: $link--hover;
    color: $link--hover;
  }
  &:active {
    background-color: $purple--lighter;
    border-color: $link--active;
    color: $link--active;
  }
}