@import "../../mixins/button";
@import "../../mixins/icon";
@import "../../variables/color";
@import "../../variables/font-weight";

.accordion,
details,
.webform-element-more {
  &__trigger,
  summary,
  .webform-element-more--link {
    @include button--ui(null,true);
    @include button--default;
    &::after {
      font-size: 21px;
      line-height: 1;
    }
  }
  .webform-element-more--link {
    padding-left: 48px;
    position: relative;
    &::before {
      @include icon('\f059' !important);
      font-size: 21px;
      font-weight: $icon-weight--solid;
      left: 16px;
      line-height: 21px;
      position: absolute;
      top: 14px;
    }
  }
  &__content {
    border: 1px solid $int-bdc;
    padding: 16px;
  }
  .details-wrapper,
  .webform-element-more--content {
    border: 1px solid $int-bdc;
    padding: 16px;
  }
}

.webform-element-more.is-open .webform-element-more--link,
summary[aria-expanded="true"],
.accordion__trigger[aria-expanded="true"] {
  &::after {transform: rotate(90deg);}
}