@import "../../variables/variables";
@import "../../mixins/mixins";

.card {
  background-color: $bg;
  display: flex;
  flex-direction: column;
  @include transition('background-color, border-color');
  &:has(a:hover) {
    background-color: $green--lighter;
    border-color: $link--hover;
    .card {
      &__title a {color: $link--hover !important;}
      &__content {border-color: $link--hover;}
    }
  }
  &:has(a:active) {
    background-color: $purple--lighter;
    border-color: $link--active;
    .card {
      &__title a {color: $link--active !important;}
      &__content {border-color: $link--active;}
    }
  }
  &__image {
    position: relative;
    img {display: block;}
    a {
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    &:hover + .card__content a {@include underline--hover;}
  }
  &__content {
    border: 1px solid $border;
    padding: clamp(24px,4vw,32px);
    @include transition('border-color');
  }
  &__title {
    @include h5;
    margin-bottom: calc(#{$default-margin} / 4);
  }
  &--horizontal {
    border: 1px solid $border;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: clamp(24px,4vw,32px);
    padding: clamp(24px,4vw,32px);
    @include max($breakpoint--m) {
      flex-direction: column;
    }
    .card {
      &__image {
        flex: 0 1 240px;
        max-width: 240px;
        width: 100%;
        @include max($breakpoint--m) {
          flex: none;
        }
      }
      &__content {
        border: 0;
        flex: 1 1 auto;
        padding: 0;
        @include max($breakpoint--m) {flex: none;}
      }
    }
  }
  // Horizontal 1:1 variant
  // &--horizontal {
  //   flex-direction: row;
  //   @include max($breakpoint--m) {
  //     flex-direction: column;
  //   }
  //   .card {
  //     &__image {
  //       flex: 0 1 35%;
  //       @include max($breakpoint--m) {
  //         img {
  //           width: 100%;
  //           aspect-ratio: 16 / 9;
  //           object-fit: cover;
  //         }
  //       }
  //     }
  //     &__content {
  //       flex-grow: 1;
  //     }
  //   }
  // }
  &.node {
    .card {
      &__image {
        border-bottom: 1px solid $border;
        order: -1;
        transform: translate(-17px,-17px);
        width: calc(100% + 34px);
      }
      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }
}