@import "../../variables/variables";
@import "../../mixins/mixins";

.nav--breadcrumbs {
  margin: 0 0 $default-margin 0;
  ol {
    gap: 16px;
    li {
      + li::before {
        @include icon('\f105');
        color: $border;
        font-weight: $icon-weight--normal;
        margin-right: 16px;
      }
    }
  }
}