@import "../../variables/variables";
@import "../../mixins/mixins";


.nav--main {   
  nav {
    .menu {
      border-top: 1px solid $border;
      display: none;
      &.is-overflowing {
        left: auto;
        right: 0;
        &.menu--level-2 {
          right: calc(100% + 16px);
        }
      }
      &--level-0{
        background-color: $bg; 
        border-top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
        gap: 0px 27px;
      }
      &--level-1, &--level-2{
        border-top: 0;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
        left: calc(100% + 16px);
        padding: 16px;
        position: absolute;
        top: 0;
        width: 22rem;
      }
      &--level-1{
        background-color: $bg; 
        left: 0; 
        z-index: 100; 
        top:100%;
      }
      &--level-2{
        background-color: $bg--medium; 
        left: calc(100% + 16px);
        .menu {display: none;}
      }
      
      .menu__item {
        border-bottom: 1px solid $border;
        margin: 0;
        position: relative;
        &:last-child {border-bottom: 0;}
        &.is-open {
          > .menu {display: block;}
        }
        &--level-0{
          border-bottom: 0;
          &.menu__item--expanded{
            > .menu__item-link-wrapper {
              > *:not(.submenu-trigger) {
                @include button--ui(null,true);
              }
            }
            &.is-open > .menu__item-link-wrapper >*:not(.submenu-trigger)::after {transform: rotate(90deg)}
          }
          &.menu__item--active-trail > .menu__item-link-wrapper {
            &::after {
              background-color: $teal;
              bottom: 0;
              content:'';
              height: 3px;
              left: 13px;
              position: absolute;
              width: calc(100% - 47px);
            }
          }
        } 
        .menu__item-link-wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: flex-start;
          justify-content: space-between;
          min-height: 50px;
          position: relative;
          @include min($breakpoint--l) {
            &--level-1 {
              &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 100%;
                width: 16px;
                height: 100%;
              }
              &.has-overflow:after {
                left: auto;
                right: 100%;
              }
            }
          }
          > *:not(.submenu-trigger) {
            flex: 0 1 auto;
            display: inline-block;
            margin-right: 8px;
            padding: 15px 4px 11px 16px;
            text-decoration: none;
            &:hover {@include underline;}
          }          
          .submenu-trigger {
            flex: 0 1 auto;
            margin: 4px 4px 0 0;
            @include min($breakpoint--l) {
              &:before{
                transform: translate(-50%,-50%) rotate(0deg);
              }
            }          
          }
          &.has-overflow {
            > .submenu-trigger::before {
              @include min($breakpoint--l) {transform: translate(-50%,-50%) rotate(180deg);}
            }
          }        
          > .is-active {
            &::before {
              background-color: $teal;
              content:'';
              height: calc(100% - 8px);
              left: 0;
              position: absolute;
              top: 4px;
              width: 3px;
            }
          }         
          &--level-0{
            padding: 0;
            > *:not(.submenu-trigger) {
              @include button--ui(null);
            }
            > .is-active::before {
              display: none;
            }
            .submenu-trigger {
              display: none;
            }
          }
          &--level-2{
            > .submenu-trigger {display: none;}
          }
          &--level-3{
            
          }
          &--level-4{
            .menu__item-link-wrapper {padding-left: 48px;}
          }
        }
      }  
    }
  }
}
