// Colors
$white                  : #fff;
$black                  : #000;
$grey                   : #8C8C8C;
$grey--light            : #E5E5E5;
$blue                   : #20389D;
$blue--dark             : #0A216C;
$blue--light            : #9ECFFF;
$green                  : #1a9c00;
$green--dark            : #0B5B28;
$green--light           : #91E486;
$green--lighter         : #F0FFF0;
$purple                 : #5A00A7;
$purple--light          : #DEB8FF;
$purple--lighter        : #ECD1FF;
$teal                   : #3F8F8B;

// Status
$error                  : #BC0000;
$error--light           : #FDEBEB;
$info                   : #5F7C8B;
$info--light            : #EDF6FA;
$valid                  : #008A02;
$valid--light           : #E9F7E9;
$warning                : #E88522;
$warning--light         : #FFF8E5;

// Copy, interface
$font                   : #333333;
$font--disabled         : #595959;
$font--dark--disabled   : #B5B5B5;
$graphics               : #8C8C8C;
$ui-icon                : #393939;

// Links
$link                   : $blue;
$link--hover            : $green--dark;
$link--active           : $purple;
$link--dark             : $blue--light;
$link--dark--hover      : $green--light;
$link--dark--active     : $purple--light;

// Interactive components
$int-c                  : $link;
$int-c--hover           : $link--hover;
$int-c--active          : $link--active;
$int-bdc                : $link;
$int-bdc--hover         : $link--hover;
$int-bdc--active        : $link--active;
$int-bgc                : $white;
$int-bgc--hover         : $green--lighter;
$int-bgc--active        : $purple--lighter;
$int-c--disabled        : $font;
$int-bgc--disabled      : #DDD;
$int-bdc--disabled      : #DDD;
$int-c--disabled--dark  : #B5B5B5;

// Active indicator
$active-bgc             : #E1F0EF;
$active-bdc             : $teal;
$active-c               : $font;
$active-bgc--hover      : $teal;
$active-bdc--hover      : $teal;
$active-c--hover        : $white;
$active-bgc--active     : $teal;
$active-bdc--active     : $teal;
$active-c--active       : $white;

// Backgrounds
$bg                     : #FDFDFD;
$bg--light              : $white;
$bg--medium             : #F2F2F2;
$bg--dark               : #1D284B;

// Focus
$focus                  : #B30036;
$focus--light           : $white;