$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--bold: 700;
$font-weight--semibold: $font-weight--bold;

// Icons
$icon-weight--thin: 100;
$icon-weight--light: 300;
$icon-weight--normal: 400;
$icon-weight--solid: 900;