.lw {
  max-width: 80ch;
}

table {
  border-bottom: 2px solid #1D284B;
  margin: 0 0 32px 0;
}
table tr {
  border-bottom: 1px solid #8C8C8C;
}
table tr.drag-previous, table tr.drag {
  background-color: #E1F0EF;
}
table tr.selected {
  background-color: #E1F0EF;
  outline: 2px solid #3F8F8B;
  outline-offset: -2px;
}
table tr.selected td {
  background-color: #E1F0EF;
}
table th {
  background: #1D284B;
  color: #fff;
  font-weight: 400;
  padding: 15px 32px 14px 32px;
  text-align: left;
}
@media (max-width: 64rem) {
  table th {
    padding: 16px 24px;
  }
}
@media (max-width: 48rem) {
  table th {
    padding: 16px;
  }
}
table th a {
  color: #9ECFFF;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
table th a:hover {
  color: #91E486;
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
table th a:hover:focus {
  outline: none;
}
table th a:focus {
  outline: 2px dashed #fff;
  outline-offset: 4px;
}
table th a:active {
  color: #DEB8FF;
  text-decoration: underline;
  text-underline-offset: max(5px, 0.2rem, 0.2em);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}
table th a:active:focus {
  outline: none;
}
table th a[target=_blank]::after {
  font-family: "Font Awesome 6 Pro";
  content: "\f08e";
}
table td {
  color: #333333;
  padding: 15px 32px 14px 32px;
  text-align: left;
}
@media (max-width: 64rem) {
  table td {
    padding: 16px 24px;
  }
}
@media (max-width: 48rem) {
  table td {
    padding: 16px;
  }
}
table caption {
  margin: 16px 0;
  text-align: left;
}

.tablesort {
  margin-left: 8px;
}
.tablesort--asc::before {
  font-family: "Font Awesome 6 Pro";
  content: "\f0d8";
}
.tablesort--desc::before {
  font-family: "Font Awesome 6 Pro";
  content: "\f0d7";
}

/* [ SCROLLABLE ] ----------*/
.scrollable {
  margin-bottom: 32px;
}

.tabledrag-handle::before {
  font-family: "Font Awesome 6 Pro";
  content: "\e411";
  font-size: 1.125rem;
  font-weight: 400;
}