@import "../../base/variables/color";
@import "../../base/variables/font-weight";
@import "../../base/variables/margin";
@import "../../base/mixins/icon";
@import "../../base/utility/typography/headings";

.emphasis {
  background-color: $bg--medium;
  padding: 90px clamp(24px,4vw,32px) clamp(24px,4vw,32px) clamp(24px,4vw,32px);
  position: relative;
  &::before {
    @include icon('\f10d');
    font-size: 42px;
    font-weight: $icon-weight--solid;
    left: clamp(24px,4vw,32px);
    line-height: 42px;
    position: absolute;
    top: clamp(24px,4vw,32px);
  }
  blockquote {
    border-left: 0;
    @include h4;
    font-weight: $font-weight--bold;
    line-height: 1.272;
    padding-left: 0;
    margin: 0;
  }
  figcaption {
    margin-top: $default-margin;
    cite {
      font-style: normal;
    }
  }
  &.no-icon {
    padding: clamp(24px,4vw,32px);
    &::before {display: none;}
  }
}