.dynamic-quicklinks__header {
  background-color: #1D284B;
  border: 1px solid #8C8C8C;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: clamp(208px, 15vw, 400px);
      flex-basis: clamp(208px, 15vw, 400px);
  max-width: clamp(208px, 15vw, 400px);
  padding: 16px;
}
@media (max-width: 64rem) {
  .dynamic-quicklinks__header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: 100%;
    padding: 16px clamp(16px, 7vw, 112px);
    width: 100%;
  }
}